html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: black;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('./arrowLF.png') url('./arrowRF.png') url('./soundOnF.png')
    url('./soundOffF.png');
}

#vs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1920px) {
  #sketch-holder > canvas {
    max-width: 90vw !important;
    max-height: 100vh !important;
    object-fit: contain;
  }

  #c {
    max-width: 90vw !important;
    max-height: 100vh !important;
    object-fit: contain;
    pointer-events: none;
    /* background-color: rgba(250, 200, 200, 100); */
  }
}

#start:hover #startImg {
  content: url('./arrowRF.png');
}
#cont > button {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
}
#cont {
  width: 100%;
  height: 100%;
  position: relative;
}
#start {
  opacity: 0;
}
#left {
  opacity: 0;
}
#right {
  opacity: 0;
}
#soundOn {
  opacity: 0;
}
#start > img {
  width: 110px;
  height: auto;
}

#left:hover #leftImg {
  content: url('./arrowLF.png');
}
#left > img {
  width: 60px;
  height: auto;
}

#right:hover #rightImg {
  content: url('./arrowRF.png');
}

/* #rightImg{
    content: url('./arrowRF.png');
  } */
#right > img {
  width: 60px;
  height: auto;
}
#soundOn > img {
  width: 60px;
  height: auto;
}
#soundOff > img {
  width: 60px;
  height: auto;
}
#soundOn:hover #soundOnImg {
  content: url('./soundOnF.png');
}
#soundOff:hover #soundOffImg {
  content: url('./soundOffF.png');
}

.loading-2 {
  --duration: 0.7s;
  --size: 4em;
}

.spinner * {
  box-sizing: border-box;
}
.loading-2 .spinner {
  display: inline-block;
  animation-name: anim-spinner;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading-2 .spinner .circle {
  width: 4em;
  height: 2em;
  overflow: hidden;
}
.loading-2 .spinner .circle-inner {
  transform: rotate(45deg);
  border-radius: 50%;
  border: 0.5em solid #7da7f5;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  width: 100%;
  height: 200%;
  animation-name: anim-circle-1;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
}
.loading-2 .spinner .circle-2 {
  transform: rotate(180deg);
}
.loading-2 .spinner .circle-2 > .circle-inner {
  animation-name: anim-circle-2;
}
@keyframes anim-circle-1 {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(205deg);
  }
}
@keyframes anim-circle-2 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(-115deg);
  }
}
@keyframes anim-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
